@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">V Chathurima - AE24090101</h1>
    <p class="display-4">Azure DevOps Capstone Proj 02</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
